<div class="main animate__animated animate__fadeIn animated_faster">
  <h3>Por País</h3>
<hr>


<div class="row">
  <div class="col">

    <app-pais-input (termino)="buscar($event)"  (debounceEvent)="filtradoHijo($event)"  [inputPlaceholder]="placeholderCapital"></app-pais-input>

  </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
  No se encontró nada con el termino "{{termino}}"
</div>


<div class="row" *ngIf="capitales.length>0">
  <div class="col">
    <app-pais-tabla [paisesTabla]="capitales" ></app-pais-tabla>
  </div>
</div>

</div>
